<h5>ログイン</h5><br>

<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<%= form_tag '/top/login' , method: :post do %>
<%= label_tag :name, 'ユーザー名' %>
<%= text_field_tag :name %><br>
<%= label_tag :pass, 'パスワード' %>
<%= password_field_tag :pass %><br>
<div class="input_wrap", style="text-align: center">
<%= submit_tag 'ログイン' ,class: "button" %>
</div>


<%end%>

<br>
まだアカウントをお持ちでないですか？<%= link_to '新規登録', new_user_path %><br>
