レシピ一覧
<p>-----------------------------------------------------------------------------------------------------------------------------</p>
<% @recipes.each do |recipe| %>

    <p>料理名</p>
    <p><%= recipe.fname %></p>
    タグ
    <p><%= recipe.tag %></p> 
    <p><%= image_tag "/get_reciepe/#{recipe.id}" %></p>
    <%= link_to '詳細', "/recipes/#{recipe.id}" %>

    

<% end %>
<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
 </div>



<p><%= link_to '投稿', '/recipes/new' %></p>



<% if current_user %>
<%= "#{current_user.name}でログイン中" %><br>
<%= link_to 'マイページ', user_path(current_user.id) %>
<%= link_to 'ログアウト', top_logout_path, method: :post %><br>
<% else %>
<br>
<%= link_to 'ユーザー登録', new_user_path %><br>
<%= link_to 'ログイン', top_main_path %><br>
<% end %>


<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>


