<font size="4">レシピ一覧</font>
<p>-----------------------------------------------------------------------------------------------------------------------------</p>
<% @recipes.each do |recipe| %>

    <p>　【料理名】</p>
    <p>　<%= recipe.fname %></p>
    　【タグ】
    <p>　<%= recipe.tag %></p>
    <% if recipe.image != nil %>
    <p>　<%= image_tag "/get_reciepe/#{recipe.id}" %></p>
    <% end %>
    <%= link_to('詳細', "/recipes/#{recipe.id}",{class: "waves-effect waves-light btn"}) %>

<% end %>
<p>-----------------------------------------------------------------------------------------------------------------------------</p>
<br>ユーザー投稿</br>
<% if current_user %>
    <%= link_to('投稿', new_recipe_path(current_user.id),{class: "waves-effect waves-light btn"})%>
<% else %>
    <%= link_to('投稿', '/recipes/new',{class: "waves-effect waves-light btn"}) %>
<% end %>

<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
 </div>



<br>

<% if current_user %>
<%= "#{current_user.name}でログイン中" %><br>
<%= link_to('マイページ', user_path(current_user.id),{class: "waves-effect waves-light btn"}) %>

<p><%= button_to top_logout_path,:class => "waves-effect waves-light btn",:method => :post do  %>
<i class="material-icons left">brightness_2</i>ログアウト
<% end %></p>
<% else %>
<br>
<%= link_to 'ユーザー登録', new_user_path %><br>
<%= link_to 'ログイン', top_main_path %><br>
<% end %>


<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>


