<h4>レシピ</h4>


<%= form_with url: search_path, method: :get, local: true do |f| %>
    

<div class="search-form">

  
   <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">youtube_searched_for</i>
          
          <%= f.text_field :keyword, :placeholder => "料理名、食材名を入力", value: @keyword ,class: "autocomplete" %>
          <div class="input_wrap", style="text-align: center">
          <%= f.submit "検索" ,class: "waves-effect waves-light btn-large"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<style>
.flex{
    display: flex;
    
}
.flex div{
    
}

</style>



<% @recipes.each do |recipe| %>
  <div class="row", style="width: 600px">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <% if recipe.image != nil %>
        　　<%= image_tag "/get_reciepe/#{recipe.id}"  %>
      　　<% else %>
        　　<%= image_tag 'obentou.png' %>
      　　<% end %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= recipe.fname %></span>
          <p><%= recipe.tag %></p>
        </div>
        <div class="card-action">
          <%= link_to '詳細', "/recipes/#{recipe.id}" %>
        </div>
      </div>
    </div>
 

<% end %>
</div>

<br>
<% if current_user %>
    <%= link_to '投稿', new_recipe_path(current_user.id), class: "waves-effect waves-light btn"%>
<% else %>
    <%= link_to '投稿', '/recipes/new', class: "waves-effect waves-light btn" %>
<% end %>





<br>

<% if current_user %>
<%= "#{current_user.name}でログイン中" %><br>
<%= link_to('マイページ', user_path(current_user.id),{class: "waves-effect waves-light btn"}) %>

<%= link_to 'ログアウト', top_logout_path, method: :post ,class: "waves-effect waves-light btn"%><br>
<% else %>
<br>
<%= link_to 'ユーザー登録', new_user_path ,class: "waves-effect waves-light btn"%><br>
<%= link_to 'ログイン', top_main_path ,class: "waves-effect waves-light btn"%><br>
<% end %>


<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>


