
<% if flash[:notice] %>
    <div class="container", style="max-width:400px">
        <div class="flash">
    	<%= flash[:notice] %>
    	</div>
    </div>
<% end %>
<br>

<!--検索バー-->

<%= form_with url: search_path, method: :get, local: true do |f| %>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="container">
          <div class="input-field col s12">
            <i class="material-icons prefix">youtube_searched_for</i>
            <%= f.text_field :keyword, :placeholder => "料理名、食材名を入力", value: @keyword ,class: "autocomplete" %>
            <div class="input_wrap", style="text-align: center">
            <%= f.submit "検索"  ,class: "button"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<!--タグ検索-->
<div class="container">
  <h5>タグ一覧</h5>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <% @tag_list.each do |t| %>
          <div class="col", style = "padding-top:10px">
            <%= form_with url: tag_search_path, method: :get, local: true do |f| %>
              <%= f.hidden_field :keyword, value: t %>
              <%= f.submit t ,class: "tag_button"%>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!--<%= form_with url: tag_search_path, method: :get, local: true do |f| %>-->
  <!--  <div class="row">-->
  <!--      <div class="row">-->
  <!--        <%= f.hidden_field :keyword, value: "" %>-->
  <!--        <div class="input_wrap", style="text-align: center">-->
  <!--          <%= f.submit "検索条件をリセット" ,class: "button"%>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--<% end %>-->
</div>

<br>

<!--料理一覧-->
  
<div class="row">
  <% if @keyword != "" and @keyword != nil %>
  <h5><%= @keyword %>のレシピ一覧</h5>
  <% else %>
  <h5>レシピ一覧</h5>
  <% end %>
  
  <% @recipes.each do |recipe| %>
  
    <div class="col s12 m4 l2">
      <div class="flex-item">
        <div class="image-wrap">
        <% if recipe.image != nil %>
      　　<%= image_tag("/get_reciepe/#{recipe.id}") %>
    　　<% else %>
      　　<%= image_tag('no_image.jpg') %>
    　　<% end %>
    　　</div>
  　　</div>
        <%= link_to "/recipes/#{recipe.id}" do %>
          <div class="overflow-wrap">
            <div class="break-word ">
             <h6><%= recipe.fname %></h6>
            </div>
          </div>
        <% end %>
        <p><%= recipe.tag %></p><br>
    </div>
  <% end %>
</div>


<div class="row">
  <div class="col s4">
    <div>
      <% if current_user %>
          <%= link_to 'レシピを投稿する', new_recipe_path(current_user.id), class: "button"%>
      <% else %>
          <%= link_to 'レシピを投稿する', '/recipes/new', class: "button" %>
      <% end %>
    </div>
  </div>
</div>


<a href="#page_top" class="page_top_btn">トップへ戻る</a>



