<%= form_for @recipe , url: {action: :create} do |f| %>
    <p><%= f.label :fname, '料理名' %>
    <%= f.text_field :fname %></p>
    <p><%= f.label :ingredients, '材料' %></p>
    <%= f.text_area :ingredients, :cols => 40, :rows => 10 %>
    <p><%= f.label :process, '手順' %></p>
    <%= f.text_area :process,:cols => 40, :rows => 10 %>
    <div class="input-field col s12">

        <%= f.select(:tag, ["朝ごはん","夜ごはん"], {:class =>'input-field col s12'}) %>
         <%= f.label :tag, 'タグ' %>
    </div>
    <p>----------------------------------------------------------------------------------------------------------------------------------</p>

    <p><%= f.label :image, '画像' %></p>
    <%= f.file_field :image %>
    <p><%= f.label :movie, '動画' %></p>
    <%= f.file_field :movie %>
    
    <p><%= f.submit '投稿' %></p>
<% end %><br>

<%= link_to '戻る', root_path %>
