<%= form_for @recipe , url: {action: :create} do |f| %>
    <p><%= f.label :fname, '料理名' %>
    <%= f.text_field :fname %></p>
    <p><%= f.label :ingredients, '材料' %></p>
    <%= f.text_area :ingredients, :cols => 40, :rows => 10 %>
    <p><%= f.label :process, '手順' %></p>
    <%= f.text_area :process,:cols => 40, :rows => 10 %>
    
    <p><%= f.label :tag, 'タグ' %></p>
    
    <%= f.select :tag, [["朝ごはん", "朝ごはん"], ["昼ごはん", "昼ごはん"], ["夜ごはん", "夜ごはん"], ["和食", "和食"],["洋食", "洋食"],["中華料理", "中華料理"],["インド料理", "インド料理"],["韓国料理", "韓国料理"],["イタリア料理", "イタリア料理"],
    ["フランス料理", "フランス料理"],["メキシコ料理", "メキシコ料理"],["南国系", "南国系"],["サラダ類", "サラダ類"],["ヘルシー", "ヘルシー"],["節約", "節約"]], include_blank: "選択して下さい"%>
    <p>----------------------------------------------------------------------------------------------------------------------------------</p>
   
  </div>
    <p><%= f.label :image, '画像' %></p>
    <%= f.file_field :image %>
    <p><%= f.label :movie, '動画' %></p>
    <%= f.file_field :movie %>
    
    <p><%= f.submit '投稿' %></p>
<% end %><br>
<%= link_to '戻る', root_path %>
