    料理名
    <p><%= @recipe.fname %></p>
    材料
    <p><%= safe_join(@recipe.ingredients.split("\n"),tag(:br)) %></p>
    手順
    <p><%= safe_join(@recipe.process.split("\n"),tag(:br)) %></p>
    タグ
    <p><%= @recipe.tag %></p>    
    
    <p><%= image_tag "/get_reciepe/#{@recipe.id}" %></p>
    <p><%= video_tag("/get_reciepe2/#{@recipe.id}", size: "500x300", autoplay: true, muted: true,controls: true)  %></p>
    
    <% if @recipe.user == current_user %>
    <%= link_to '削除', "/recipes/#{@recipe.id}", method: :delete, :data => {:confirm => '本当に削除しますか？'} %>
    <p><%= link_to '編集', "/recipes/#{@recipe.id}/edit" %></p>
    <% end %>
    <%= link_to '戻る', '/' %>
