    【料理名】
    <p><%= @recipe.fname %></p>
    【材料】
    <p><%= safe_join(@recipe.ingredients.split("\n"),tag(:br)) %></p>
    【手順】
    <p><%= safe_join(@recipe.process.split("\n"),tag(:br)) %></p>
    【タグ】
    <p><%= @recipe.tag %></p>    
    
    <% if @recipe.image != nil %>
    <p><%= image_tag "/get_reciepe/#{@recipe.id}" %></p>
    <% end %>
    <% if @recipe.movie != nil %>
    <p><%= video_tag("/get_reciepe2/#{@recipe.id}", size: "500x300", autoplay: true, muted: true,controls: true)  %></p>
    <% end %>
    
    <% if @recipe.user == current_user %>
    <%= button_to "/recipes/#{@recipe.id}", method: :delete, :data => {:confirm => '本当に削除しますか？'},:class => "waves-effect waves-light btn",:method => :get do  %>
    <i class="material-icons left">block</i>削除
    <% end %>
    <p><%= button_to "/recipes/#{@recipe.id}/edit",:class => "waves-effect waves-light btn",:method => :get do  %>
    <i class="material-icons left">border_color</i>編集
    <% end %></p>
    <% end %>
    <%= button_to '/',:class => "waves-effect waves-light btn",:method => :get do  %>
    <i class="material-icons left">directions_run</i>戻る 
    <% end %>
