<div class="container" >
<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="/">
        <span itemprop="name">ホーム</span>
    </a>
    <meta itemprop="position" content="1" />
  </li>

  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemprop="item" href=<%= user_path(current_user.id) %>>
        <span itemprop="name">マイページ</span>
    </a>
    <meta itemprop="position" content="2" />
  </li>
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="#">
        <span itemprop="name">アカウント情報変更</span>
    </a>
    <meta itemprop="position" content="3" />
  </li>

</ol>
</div>

<!--<h5 style="text-align:center">アカウント情報を編集する</h5>-->
<br>

<% if flash[:notice] %>
    <div class="container", style="max-width:400px">
        <div class="flash">
    	<%= flash[:notice] %>
    	</div>
    </div>
<% end %>
<br>


<div class="container", style="max-width:600px">
<div class="form", style="transform: translate(-50%, -0%)">
    <h5 style="text-align:center">アカウント情報を変更する</h5><br>

<%= form_for @user, url: {action: :update} do |t| %>
    <%= t.label :name,"ユーザー名" %>
    <%= t.text_field :name, required: true %>
    <%= t.label :mail,"メールアドレス" %>
    <%= t.text_field :mail, required: true %>
    <%= t.label :password,"新しいパスワード" %>
    <%= t.password_field :password %>
    <%= t.label :password_confirmation,"パスワードの確認" %>
    <%= t.password_field :password_confirmation %>
    <br><br>
    <div class="input_wrap", style="text-align: center">
    <%= t.submit '変更する' ,class: "button" %>
    </div>
        
<% end %>
<br>
<div class="input_wrap", style="text-align: center">
    <%= link_to '退会する', user_path(@user.id), method: :delete, :data => {:confirm => '本当に退会しますか？'}  %>
</div>
</div>
</div>

<!--<%= link_to '退会する', user_path(@user.id), method: :delete, :data => {:confirm => '本当に退会しますか？'}  %><br>-->
<!--<%= link_to '戻る', user_path(@user.id) %><br>-->


