<h1>ユーザー登録</h1>

<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<%= form_for @user , url: {action: :create} do |f| %>
<%= f.label :name, 'ユーザー名' %><br>
<%= f.text_field :name %><br>
<%= f.label :mail, 'メールアドレス' %><br>
<%= f.text_field :mail %><br>
<%= f.label :password, 'パスワード' %><br>
<%= f.password_field :password %><br>
<%= f.label :password_confirmation, 'パスワードの確認' %><br>
<%= f.password_field :password_confirmation %><br><br>
<%= f.submit '登録' ,class: "btn_edit" %>

<%end%><br>
<%= link_to 'ログイン', top_main_path %><br>
<%= link_to '戻る', root_path %>