<h5>アカウントを作成</h5><br>

<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<%= form_for @user , url: {action: :create} do |f| %>
<%= f.label :name, 'ユーザー名' %><br>
<%= f.text_field :name %><br>
<%= f.label :mail, 'メールアドレス' %><br>
<%= f.text_field :mail %><br>
<%= f.label :password, 'パスワード' %><br>
<%= f.password_field :password %><br>
<%= f.label :password_confirmation, 'パスワードの確認' %><br>
<%= f.password_field :password_confirmation %><br><br>
<div class="input_wrap", style="text-align: center">
<%= f.submit '登録' ,class: "button" %>
</div>

<%end%><br>

すでにアカウントをお持ちですか？<%= link_to 'ログイン', top_main_path %><br>
