
<% if flash[:notice] %>
	<p style="text-align: center"><%= flash[:notice] %></p>
<% end %><br>

<div class="form", style="transform: translate(-50%, -50%)">
    <%= form_for @user, url: {action: :create} do |f| %>
        <h5 style="text-align: left">アカウントを作成</h5><br>
        <%= f.label :name, 'ユーザー名' %><br>
        <%= f.text_field :name %><br>
        <%= f.label :mail, 'メールアドレス' %><br>
        <%= f.text_field :mail %><br>
        <%= f.label :password, 'パスワード' %><br>
        <%= f.password_field :password %><br>
        <%= f.label :password_confirmation, 'パスワードの確認' %><br>
        <%= f.password_field :password_confirmation %><br><br>
        <div class="input_wrap", style="text-align: center">
            <%= f.submit '作成' ,class: "button" %>
        </div>
    <%end%>
    <br><p style="text-align: center">すでにアカウントをお持ちですか？<%= link_to 'ログイン', top_main_path %></p>

</div>
