<%= "#{@user.name}さんのマイページ" %><br>
<% @recipes.each do |recipe| %>
    【料理名】
    <p>　<%= recipe.fname %></p>
    【材料】
    <p>　<%= safe_join(recipe.ingredients.split("\n"),tag(:br)) %></p>

<%= link_to('詳細', "/recipes/#{recipe.id}",{class: "waves-effect waves-light btn"}) %>
<% end %>

<p><%= button_to edit_user_path(@user.id),:class => "waves-effect waves-light btn",:method => :get do  %>
<i class="material-icons left">border_color</i>アカウント情報を編集する
<% end %></p>
<%= button_to root_path,:class => "waves-effect waves-light btn",:method => :get do  %>
<i class="material-icons left">directions_run</i>戻る 
<% end %>
