
<!--パンくずリスト-->
<div class="container" >
  <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="/">
          <span itemprop="name">ホーム</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
  
    <li itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="#">
          <span itemprop="name">マイページ</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
  
  </ol>
</div>
<br>

<!--投稿したレシピ一覧-->
<div class="row">
  <h5>投稿したレシピ</h5>
  <% @recipes.each do |recipe| %>
    <div class="col s12 m4 l2">
      <div class="flex-item">
        <div class="image-wrap">
        <% if recipe.image != nil %>
      　　<%= image_tag("/get_reciepe/#{recipe.id}") %>
    　　<% else %>
      　　<%= image_tag('no_image.jpg') %>
    　　<% end %>
    　　</div>
  　　</div>
          <%= link_to "/recipes/#{recipe.id}" do %>
            <div class="overflow-wrap">
              <div class="break-word ">
               <h6><%= recipe.fname %></h6>
              </div>
            </div>
          <% end %>
        <p><%= recipe.tag %></p><br>
    </div>
  <% end %>
</div>
  

<p><%= button_to edit_user_path(@user.id),:class => "waves-effect waves-light btn",:method => :get do  %>
<i class="material-icons left">border_color</i>アカウント情報の変更
<% end %></p>

