<!DOCTYPE html>
<html>
  <head>
    <title>LMC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  
  
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
    <!--アイコン用-->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    
    <!--Import materialize.css-->
    <!--<link type="text/css" rel="stylesheet" href="stylesheets/css/materialize.min.css"  media="screen,projection"/>-->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!--JavaScript at end of body for optimized loading-->
      <!--<script type="text/javascript" src="js/materialize.min.js"></script>-->
      <nav class="nav-extended">
        <div class="nav-wrapper", style="padding: 0px 10px">
          <a href="/" class="brand-logo">LMC</a>
          
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if current_user %>
              <li><%= link_to 'トップ', root_path %></li>
              <li><%= link_to 'マイページ', user_path(current_user.id) %></li>
              <li><%= link_to '投稿', new_recipe_path(current_user.id)%></li>
              <li><%= link_to 'ログアウト', top_logout_path, method: :post %></a></li>
            <% else %>
              <li><%= link_to 'トップ', root_path %></li>
              <li><%= link_to '投稿', '/recipes/new' %></li>
              <li><%= link_to 'ログイン', top_main_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    

      <ul class="sidenav" id="mobile-demo">
        <% if current_user %>
          <li><%= link_to 'マイページ', user_path(current_user.id) %></li>
          <li><%= link_to '投稿', new_recipe_path(current_user.id)%></li>
          <li><%= link_to 'ログアウト', top_logout_path, method: :post %></a></li>
        <% else %>
          <li><%= link_to '投稿', '/recipes/new' %></li>
          <li><%= link_to 'ログイン', top_main_path %></li>
        <% end %>
        
      </ul>
    </header>
    <main>
      <div style="padding: 20px 50px">
        <%= yield %>
      </div>
    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3">プライバシーポリシー</a></li>
              <li><a class="grey-text text-lighten-3">利用規約</a></li>
              <li><a class="grey-text text-lighten-3">お問い合わせ</a></li>
              <% if current_user %>
              <li><a class="grey-text text-lighten-3" href=<%= user_path(current_user.id) %>>マイページ</a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        LMC © LMC CORPORATION 2023
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
  </body>
  
</html>
